.add_employee_all{
    padding: 0 10%;
}
.forms_groups{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 30px;
}

input{
    background-color: #fff;
}


.forms button{
    margin-top: 30px;
}
.edit_teacher{
    padding: 0 10%; 
}
@media only screen and (max-width: 1195px) {
  
    .forms_groups{
        display: grid;
        grid-template-columns: 1fr 1fr  ;
        gap: 30px;
  
    }
    .forms{
       margin-top: 0px !important;
    }
}

@media only screen and (max-width: 778px) {
    .add_employee_all{
        padding: 0 5%;
    }
    .edit_teacher{
        padding: 0 5%; 
    }
    .forms_groups{
        display: grid;
        grid-template-columns: 1fr;
    }
}