.earnings_all{
    padding: 0 10%;
    margin-block: 50px;
}
table,
th,
td {
  border: 1px solid #dad9da;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
}
table {
  width: 100%;
}

th {
  background-color: #333;
  color: #fefefe;
}
tr:nth-child(even) {
    background-color: #fff;
}

tr.highlight {
    background-color: #ffdd57;
    font-weight: bold;
}

.employee-profile {
    text-align: center;
    margin-bottom: 20px;
}

.employee-profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #333;
}

@media (max-width: 600px) {
    table, th, td {
        font-size: 12px;
        padding: 10px;
    }

    .employee-profile img {
        width: 100px;
        height: 100px;
    }
}