.view_transaction_all{
    padding: 0 10%;
    margin-block: 50px;
}
table,
th,
td {
  border: 1px solid #dad9da;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
}
table {
  width: 100%;
}

th {
  background-color: #333;
  color: #fefefe;
}
@media only screen and (max-width: 1078px) {
    .view_transaction_all{
        padding: 0 5%;
 
    }
   
}